.header-image {
    height: 100%;
    background: url('../assets/robert-lukeman-_RBcxo9AU-U-unsplash.jpg') no-repeat center;
    background-size: cover;
}

.text-shadow {
    text-shadow: 4px 4px 8px #000000;
}